@font-face {
  font-family: "romance";
  src: url(../fonts/RomanceA.ttf);
}
@font-face {
  font-family: "blotter";
  src: url(../fonts/Blotter-Regular.otf);
}
@font-face {
  font-family: "funia";
  src: url(../fonts/Funia.ttf);
}
@font-face {
  font-family: "bubb";
  src: url(../fonts/BUBBCB_.TTF);
}
@font-face {
  font-family: "blaccs";
  src: url(../fonts/BLACCS__.TTF);
}
@font-face {
  font-family: "caos";
  src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}
@font-face {
  font-family: "korn";
  src: url(../fonts/KORN.TTF);
}
@font-face {
  font-family: "london";
  src: url(../fonts/OldLondon.ttf);
}
@font-face {
  font-family: "deutsche";
  src: url(../fonts/DeutscheZierschrift.ttf);
}
.index_main .index_trend-remeras {
  padding: 0;
  width: 75%;
  height: 98%;
  box-shadow: 1px 1px 20px 7px black;
}
.index_main .index_trend-remeras .trend-banner img {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 14vh;
}
.index_main .index_trend-remeras .trend-productos {
  margin-top: 3px;
  height: 100%;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav {
  margin-left: 5px;
  border: 1px solid white;
  width: 20%;
  height: 85%;
  background-color: rgb(10, 31, 41);
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown {
  background-color: black;
  padding: 4px 6px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown button {
  border: 1px solid rgb(255, 255, 255);
  font-family: "romance";
  border-radius: 0;
  background-color: rgb(87, 8, 8);
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown-menu {
  border-radius: 0;
  background-color: rgb(0, 0, 0);
  padding: 0;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown-menu li {
  margin: 0;
  padding: 0;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown-menu li a {
  font-family: "blaccs";
  border: 1px solid rgb(82, 3, 3);
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 10px red;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown-menu li a:hover {
  background-color: red;
  color: black;
  box-shadow: 1px 1px 10px 3px rgb(214, 0, 0);
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown2 {
  height: 6.5vh;
  border-bottom: 1px solid white;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown2 button {
  background-color: rgb(54, 13, 13);
  font-family: "Times New Roman", Times, serif;
  height: 20px;
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav nav ul li {
  list-style: square;
  color: rgb(90, 171, 182);
  transition: transform 0.4s;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav nav ul li a {
  text-shadow: 1px 1px 15px rgb(158, 15, 15);
  color: white;
  font-size: 15px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav nav ul li:hover {
  list-style: none;
  transform: scale(1.2);
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav nav ul li:hover a {
  color: red;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .pagination-products {
  display: flex;
  height: 40vh;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .pagination-products a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .pagination-products .pagination-active {
  text-decoration: underline;
  color: red;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list {
  width: 100%;
  height: 85%;
  background-color: black;
  display: flex;
  padding: 10px 20px;
  gap: 20px;
  flex-wrap: wrap;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product {
  box-shadow: 1px 1px 10px 2px red;
  width: 23%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  transition: transform 0.3s;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product .product-img {
  display: flex;
  justify-content: center;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product .product-img img {
  border: 1px solid rgb(102, 8, 8);
  margin-top: 5px;
  height: 33vh;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product a {
  color: rgb(44, 111, 116);
  padding-left: 8px;
  font-size: 17px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product p {
  color: red;
  padding-left: 8px;
  font-size: 16px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product:hover {
  transform: scale(1.2);
  animation: brillo 3s infinite;
}
@keyframes brillo {
  0% {
    box-shadow: 1px 1px 10px 2px red;
  }
  50% {
    box-shadow: 1px 1px 10px 7px rgb(255, 123, 0);
  }
  100% {
    box-shadow: 1px 1px 10px 2px red;
  }
}

@font-face {
  font-family: "romance";
  src: url(../fonts/RomanceA.ttf);
}
@font-face {
  font-family: "blotter";
  src: url(../fonts/Blotter-Regular.otf);
}
@font-face {
  font-family: "funia";
  src: url(../fonts/Funia.ttf);
}
@font-face {
  font-family: "bubb";
  src: url(../fonts/BUBBCB_.TTF);
}
@font-face {
  font-family: "blaccs";
  src: url(../fonts/BLACCS__.TTF);
}
@font-face {
  font-family: "caos";
  src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}
@font-face {
  font-family: "korn";
  src: url(../fonts/KORN.TTF);
}
@font-face {
  font-family: "london";
  src: url(../fonts/OldLondon.ttf);
}
@font-face {
  font-family: "deutsche";
  src: url(../fonts/DeutscheZierschrift.ttf);
}
.main_pre-index {
  background-color: black;
  height: 100vh;
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col h1 {
  font-size: 5.5rem;
  font-family: "caos";
  text-align: center;
  color: rgb(255, 153, 0);
  animation: glow 4s infinite;
}
@keyframes glow {
  0% {
    text-shadow: 1px 1px 10px red;
  }
  50% {
    text-shadow: 1px 1px 10px rgb(199, 137, 4);
    color: rgb(250, 207, 126);
  }
  100% {
    text-shadow: 1px 1px 10px red;
  }
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col .h1-img {
  width: 4vw;
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col img {
  width: 25vw;
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col a {
  font-family: "blotter";
  text-decoration: none;
  color: red;
  font-size: 30px;
  text-shadow: 0px 1px 1px rgb(255, 145, 0);
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col a:hover {
  text-shadow: 1px 1px 10px rgb(206, 134, 67);
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col .copyright {
  padding-top: 3.7vh;
  font-size: 13px;
}

.index_main .index_trend .marquee {
  height: 20px;
  font-size: 14px;
  border-top: 1px solid red;
  background-color: black;
  color: red;
}
.index_main .index_trend .trend-inicio {
  flex-wrap: nowrap;
  gap: 15px;
  border-top: 1px solid red;
  height: 90%;
  background-color: black;
  display: flex;
  padding-top: 1.5rem;
}
.index_main .index_trend .trend-banner {
  background-color: black;
}
.index_main .index_trend .trend-banner .inicio-banner p {
  margin: 0;
}
.index_main .index_trend .trend-banner .inicio-banner #banner-2 {
  font-size: 3rem;
  margin: 0px 15px;
  font-family: "blaccs";
  color: rgb(255, 128, 0);
}
.index_main .index_trend .trend-banner .inicio-banner #banner-bienvenido {
  border-left: 1px solid red;
  width: 100%;
  color: rgb(114, 3, 3);
  text-shadow: 1px 1px 4px rgb(255, 136, 0);
  font-size: 3rem;
  text-align: center;
  font-family: "caos";
}
.index_main .index_trend .slider-trend {
  display: flex;
  margin-left: 20px;
  width: 36vw;
  height: 80vh;
  border: 1px solid rgb(54, 112, 119);
  background-color: rgb(10, 31, 41);
  box-shadow: 0px 1px 10px rgb(26, 85, 87);
}
.index_main .index_trend .slider-trend .carousel {
  width: 100%;
  height: 10vh;
}
.index_main .index_trend .slider-trend .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 79.5vh;
}
.index_main .index_trend .left-trend {
  width: 40%;
}
.index_main .index_trend .left-trend .left-trend-title {
  font-family: "funia";
  text-align: left;
  font-size: 50px;
  margin-bottom: 0;
  text-decoration: none;
  color: rgb(57, 94, 100);
  text-shadow: 1px 1px 5px rgb(28, 92, 76);
}
.index_main .index_trend .left-trend p {
  color: rgb(18, 71, 83);
  text-decoration: underline;
}
.index_main .index_trend .left-trend .left-trend-link {
  flex-direction: row;
  gap: 5px;
}
.index_main .index_trend .left-trend .left-trend-link a {
  padding-top: 2rem;
  color: rgb(255, 0, 0);
  font-family: "blaccs";
  text-decoration: none;
  font-size: 40px;
  text-align: center;
}
.index_main .index_trend .left-trend .left-trend-link a:hover {
  text-shadow: 1px 1px 5px red;
}
.index_main .index_trend .left-trend .btn-home {
  box-shadow: 0px 1px 10px 1px red;
  position: relative;
  left: 130px;
  top: 50px;
  width: 10vw;
}
@keyframes slide {
  0% {
    right: 0rem;
  }
  50% {
    right: 29vw;
  }
  100% {
    right: 58vw;
  }
}

@font-face {
  font-family: "romance";
  src: url(../fonts/RomanceA.ttf);
}
@font-face {
  font-family: "blotter";
  src: url(../fonts/Blotter-Regular.otf);
}
@font-face {
  font-family: "funia";
  src: url(../fonts/Funia.ttf);
}
@font-face {
  font-family: "bubb";
  src: url(../fonts/BUBBCB_.TTF);
}
@font-face {
  font-family: "blaccs";
  src: url(../fonts/BLACCS__.TTF);
}
@font-face {
  font-family: "caos";
  src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}
@font-face {
  font-family: "korn";
  src: url(../fonts/KORN.TTF);
}
@font-face {
  font-family: "london";
  src: url(../fonts/OldLondon.ttf);
}
@font-face {
  font-family: "deutsche";
  src: url(../fonts/DeutscheZierschrift.ttf);
}
.main_registrarse {
  background-color: black;
}
.main_registrarse .registrarse_container .registrarse_row {
  padding: 0px 20vw;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse_col {
  border-left: 1px solid red;
  border-right: 1px solid red;
  height: 100vh;
  padding: 0;
  background-color: rgb(0, 0, 0);
}
.main_registrarse .registrarse_container .registrarse_row .registrarse_col .registrarse-banner {
  width: 100%;
  display: flex;
  justify-content: start;
  color: red;
  border-bottom: 1px solid red;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse_col .registrarse-banner img {
  box-shadow: 1px -1px 5px red;
  margin-left: px;
  width: 40vh;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse_col h2 {
  font-size: 50px;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left {
  width: 10vw;
  height: 60vh;
  margin: 10px;
  border-radius: 20px;
  padding: 10px 0px;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left .left-banner {
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 4.3vh;
  background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/pattern%20468.gif);
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left .left-banner img {
  height: 5 vh;
  border-radius: 5px;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left .left-banner p {
  height: 4.3vh;
  border-radius: 5px;
  padding-right: 5px;
  font-family: "deutsche";
  width: 80%;
  font-size: 20px;
  color: rgb(243, 243, 243);
  text-shadow: 1px 1px 3px rgb(255, 0, 0);
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left .left-botones {
  margin-top: 10px;
  text-align: center;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left .left-botones img {
  width: 2vw;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left .left-botones a {
  font-size: 17px;
  font-family: "london";
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 0;
  width: 10.5vw;
  height: 3.5vh;
  text-decoration: none;
  background-image: url(https://bettysgraphics.neocities.org/images/web%20graphics/button%2043.gif);
  background-size: 100%;
  padding: 0px 10px;
  box-shadow: 0px 1px 5px red;
  background-repeat: no-repeat;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left .left-botones a:hover {
  color: red;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-left .left-botones a:active {
  font-size: 19px;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right {
  width: 34.8vw;
  height: 85vh;
  margin: 10px;
  background-color: rgb(0, 0, 0);
  border: 1px solid red;
  box-shadow: 1px 1px 10px rgb(131, 1, 1);
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right .right-titulo {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  color: orange;
  font-family: "deutsche";
  margin-bottom: 0;
  text-shadow: 1px 1px 3px red;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right .right-img {
  width: 3vw;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right img {
  width: 13vw;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right .input {
  margin: 0px 70px;
  padding: 0px 30px;
  border-left: 1px solid rgb(255, 136, 0);
  border-right: 1px solid rgb(255, 136, 0);
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right .input .input-form label {
  color: red;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right .input .input-form input {
  border: 1px solid red;
  height: 4vh;
  padding: 5px;
  box-shadow: 0px 1px 5px red;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right .input button {
  margin-top: 20px;
  border: 1px solid red;
  background-color: black;
  padding: 5px;
  color: red;
  text-decoration: underline;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right .input button:hover {
  background-color: red;
  color: black;
}
.main_registrarse .registrarse_container .registrarse_row .registrarse-right .input button:active {
  background-color: white;
  color: red;
}

@font-face {
  font-family: "romance";
  src: url(../fonts/RomanceA.ttf);
}
@font-face {
  font-family: "blotter";
  src: url(../fonts/Blotter-Regular.otf);
}
@font-face {
  font-family: "funia";
  src: url(../fonts/Funia.ttf);
}
@font-face {
  font-family: "bubb";
  src: url(../fonts/BUBBCB_.TTF);
}
@font-face {
  font-family: "blaccs";
  src: url(../fonts/BLACCS__.TTF);
}
@font-face {
  font-family: "caos";
  src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}
@font-face {
  font-family: "korn";
  src: url(../fonts/KORN.TTF);
}
@font-face {
  font-family: "london";
  src: url(../fonts/OldLondon.ttf);
}
@font-face {
  font-family: "deutsche";
  src: url(../fonts/DeutscheZierschrift.ttf);
}
* {
  margin: 0;
  padding: 0;
}

.index {
  margin: 0;
}
.index .banner-col {
  padding: 0;
}
.index .banner-col img {
  width: 100%;
  height: 25vh;
  border-bottom: 1px solid black;
}
.index .index_nav-bar .index_nav-bar_col {
  height: 5vh;
  padding: 0;
}
.index .index_nav-bar .index_nav-bar_col nav ul {
  display: flex;
  padding: 0;
}
.index .index_nav-bar .index_nav-bar_col nav ul li {
  width: 100%;
  flex-direction: row;
  text-align: center;
  list-style: none;
}
.index .index_nav-bar .index_nav-bar_col nav ul li a {
  height: 40px;
  font-family: "romance";
  padding-top: 3px;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  width: 100%;
  font-size: 20px;
  display: block;
  justify-content: center;
  background-color: rgb(14, 44, 58);
}
.index .index_nav-bar .index_nav-bar_col nav ul li a:hover {
  background-color: black;
  color: red;
}
.index .index_advertisement .index_advertisement-col {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 6vh;
  text-align: center;
  background-color: rgb(67, 111, 133);
}
.index .index_advertisement .index_advertisement-col a {
  font-size: 18px;
  font-family: "blotter";
  color: white;
}
.index .index_advertisement .index_advertisement-col img {
  width: 30px;
}
.index .index_nav-bar2 .index_nav-bar2-col {
  display: flex;
  background-color: black;
  height: 10vh;
}
.index .index_nav-bar2 .index_nav-bar2-col .inicio_nav-bar2 {
  width: 25%;
}
.index .index_nav-bar2 .index_nav-bar2-col .inicio_nav-bar2 p {
  font-size: 16px;
  color: rgb(39, 86, 109);
}
.index .index_nav-bar2 .index_nav-bar2-col .inicio_nav-bar2 a {
  color: rgb(39, 86, 109);
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 {
  width: 60%;
  background-color: rgb(0, 0, 0);
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul {
  padding: 0;
  display: flex;
  gap: 35px;
  justify-content: center;
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul li {
  list-style: none;
  display: flex;
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul li img {
  margin-top: 20px;
  height: 40px;
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul li a {
  font-family: "funia";
  width: 100%;
  padding: 0px;
  padding-top: 2.5vh;
  display: block;
  color: white;
  font-size: 35px;
  text-shadow: 4px 1px 10px rgb(143, 7, 7);
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul li a:hover {
  color: rgb(153, 4, 4);
}
.index .index_nav-bar2 .index_nav-bar2-col .img_nav-bar2 {
  display: flex;
  justify-content: center;
  width: 20%;
}
.index .index_nav-bar2 .index_nav-bar2-col .img_nav-bar2 img {
  padding: 5px;
  height: 10vh;
}
.index .index_main {
  background-color: rgb(70, 86, 94);
  border-top: 1px solid white;
  height: 105vh;
}
.index .index_main .categorias-col {
  padding: 0;
  width: 25%;
  background-color: black;
  height: 80vh;
}
.index .index_main .categorias-col .categorias-buscador {
  padding-left: 10px;
  height: 10.5vh;
  background-color: rgb(10, 31, 41);
}
.index .index_main .categorias-col .categorias-buscador p {
  margin-bottom: 2px;
  color: white;
  font-size: 14px;
}
.index .index_main .categorias-col .categorias-buscador .buscador-input {
  display: flex;
  align-items: center;
  gap: 4px;
}
.index .index_main .categorias-col .categorias-buscador .buscador-input input {
  width: 17vw;
  padding-bottom: 4px;
  padding-left: 3px;
  height: 6vh;
}
.index .index_main .categorias-col .categorias-buscador .buscador-input button {
  width: 2.7vw;
}
.index .index_main .categorias-col .categorias-nav {
  background-color: rgb(70, 86, 94);
  height: 100%;
}
.index .index_main .categorias-col .categorias-nav nav ul {
  padding-left: 2.5vw;
}
.index .index_main .categorias-col .categorias-nav nav ul li {
  list-style: square;
  font-size: 25px;
  color: rgb(101, 150, 144);
  font-weight: bold;
  height: 5vh;
  transition: transform 0.3s;
}
.index .index_main .categorias-col .categorias-nav nav ul li .categorias-nav-active {
  color: rgb(172, 5, 5);
  font-size: 25px;
}
.index .index_main .categorias-col .categorias-nav nav ul li .categorias-nav-active:hover {
  font-size: 28px;
}
.index .index_main .categorias-col .categorias-nav nav ul li a {
  text-shadow: 1px 1px 5px black;
  font-family: sans-serif;
  text-decoration: underline;
  color: white;
}
.index .index_main .categorias-col .categorias-nav nav ul li a:hover {
  color: rgb(105, 3, 3);
  font-size: 23px;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.index .index_main .categorias-col .categorias-nav nav ul li:hover {
  transform: scale(1.2) translate(30px);
}
.index .index_main .index_trend {
  padding: 0;
  width: 55%;
  height: 94%;
  box-shadow: 1px 1px 20px 7px black;
  background-color: rgb(10, 31, 41);
}
.index .index_main .index_trend .trend-banner img {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 10.6vh;
}
.index .index_main .index_trend .lo_nuevo {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5rem;
}
.index .index_main .index_trend .lo_nuevo p {
  padding-left: 10px;
  padding-top: 10px;
  font-family: "korn";
  font-size: 6rem;
  color: white;
}
.index .index_main .index_trend .lo_nuevo .nuevo_p2 {
  text-align: right;
  width: 75%;
  height: 100%;
}
.index .index_main .index_trend .lo_nuevo .nuevo_p2 p {
  margin-bottom: 0;
  text-decoration: underline;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
  padding-top: 0px;
  color: red;
}
.index .index_main .index_trend .trend-products {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
}
.index .index_main .index_trend .trend-products .trend-product-info {
  flex-direction: column;
  width: 25%;
  height: 44vh;
  background-color: black;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  border: 1px solid rgb(255, 0, 0);
}
.index .index_main .index_trend .trend-products .trend-product-info img {
  width: 14vw;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
}
.index .index_main .index_trend .trend-products .trend-product-info a {
  padding-left: 4px;
  font-size: 16px;
}
.index .index_main .index_trend .trend-products .trend-product-info p {
  padding-left: 4px;
  font-size: 16px;
  margin: 0;
  color: white;
}
.index .index_main .index_aside {
  padding-top: 20px;
  justify-content: center;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  height: 94.8vh;
}
.index .index_main .index_aside img {
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  width: 8.5vw;
  border: 1px solid white;
  height: 20%;
}
.index .index_footer {
  border-top: 1px solid white;
  background-color: black;
}
.index .index_footer .footer-col {
  display: flex;
  gap: 51vw;
}
.index .index_footer .footer-col .footer-text-left a {
  text-decoration: none;
  color: rgb(60, 140, 177);
}
.index .index_footer .footer-col .footer-text-left a:hover {
  color: rgb(80, 184, 233);
}
.index .index_footer .footer-col .footer-text-right a {
  text-decoration: none;
  color: rgb(26, 63, 80);
}
.index .index_footer .footer-col .footer-text-right a:hover {
  color: rgb(45, 113, 145);
}
.index .index_footer .footer-img {
  padding: 0;
}
.index .index_footer .footer-img img {
  width: 100%;
  height: 15vh;
}
.index .index_footer .footer-copyright {
  height: 4vh;
  color: rgb(36, 68, 90);
  text-align: center;
}/*# sourceMappingURL=main.css.map */