@font-face {
  font-family: "romance";
  src: url(../fonts/RomanceA.ttf);
}
@font-face {
  font-family: "blotter";
  src: url(../fonts/Blotter-Regular.otf);
}
@font-face {
  font-family: "funia";
  src: url(../fonts/Funia.ttf);
}
@font-face {
  font-family: "bubb";
  src: url(../fonts/BUBBCB_.TTF);
}
@font-face {
  font-family: "blaccs";
  src: url(../fonts/BLACCS__.TTF);
}
@font-face {
  font-family: "caos";
  src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}
.index_main .index_trend-remeras {
  padding: 0;
  width: 75%;
  height: 98%;
  box-shadow: 1px 1px 20px 7px black;
}
.index_main .index_trend-remeras .trend-banner img {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 14vh;
}
.index_main .index_trend-remeras .trend-productos {
  margin-top: 3px;
  height: 100%;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav {
  margin-left: 5px;
  border: 1px solid white;
  width: 20%;
  height: 85%;
  background-color: rgb(14, 44, 58);
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown {
  background-color: black;
  padding: 4px 6px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown button {
  border: 1px solid rgb(255, 255, 255);
  font-family: "romance";
  border-radius: 0;
  background-color: rgb(87, 8, 8);
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown-menu {
  border-radius: 0;
  background-color: rgb(0, 0, 0);
  padding: 0;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown-menu li {
  margin: 0;
  padding: 0;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown-menu li a {
  font-family: "blaccs";
  border: 1px solid rgb(82, 3, 3);
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 10px red;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown-menu li a:hover {
  background-color: red;
  color: black;
  box-shadow: 1px 1px 10px 3px rgb(214, 0, 0);
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown2 {
  height: 6.5vh;
  border-bottom: 1px solid white;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .dropdown2 button {
  background-color: rgb(54, 13, 13);
  font-family: "Times New Roman", Times, serif;
  height: 20px;
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav nav ul li {
  list-style: square;
  color: rgb(90, 171, 182);
  transition: transform 0.4s;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav nav ul li a {
  text-shadow: 1px 1px 15px rgb(158, 15, 15);
  color: white;
  font-size: 15px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav nav ul li:hover {
  list-style: none;
  transform: scale(1.2);
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav nav ul li:hover a {
  color: red;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .pagination-products {
  display: flex;
  height: 40vh;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .pagination-products a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-nav .pagination-products .pagination-active {
  text-decoration: underline;
  color: red;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list {
  width: 100%;
  height: 85%;
  background-color: black;
  display: flex;
  padding: 10px 20px;
  gap: 20px;
  flex-wrap: wrap;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product {
  box-shadow: 1px 1px 10px 2px red;
  width: 23%;
  height: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  transition: transform 0.3s;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product .product-img {
  display: flex;
  justify-content: center;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product .product-img img {
  border: 1px solid rgb(102, 8, 8);
  margin-top: 5px;
  height: 33vh;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product a {
  color: rgb(44, 111, 116);
  padding-left: 8px;
  font-size: 17px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product p {
  color: red;
  padding-left: 8px;
  font-size: 16px;
}
.index_main .index_trend-remeras .trend-productos .trend-remeras-list .trend-remeras-product:hover {
  transform: scale(1.2);
  animation: brillo 3s infinite;
}
@keyframes brillo {
  0% {
    box-shadow: 1px 1px 10px 2px red;
  }
  50% {
    box-shadow: 1px 1px 10px 7px rgb(255, 123, 0);
  }
  100% {
    box-shadow: 1px 1px 10px 2px red;
  }
}

@font-face {
  font-family: "romance";
  src: url(../fonts/RomanceA.ttf);
}
@font-face {
  font-family: "blotter";
  src: url(../fonts/Blotter-Regular.otf);
}
@font-face {
  font-family: "funia";
  src: url(../fonts/Funia.ttf);
}
@font-face {
  font-family: "bubb";
  src: url(../fonts/BUBBCB_.TTF);
}
@font-face {
  font-family: "blaccs";
  src: url(../fonts/BLACCS__.TTF);
}
@font-face {
  font-family: "caos";
  src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}
.main_pre-index {
  width: 98.8vw;
  height: 50vh;
  background-color: black;
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col h1 {
  font-size: 5.5rem;
  font-family: "caos";
  text-align: center;
  color: rgb(255, 153, 0);
  animation: glow 4s infinite;
}
@keyframes glow {
  0% {
    text-shadow: 1px 1px 10px red;
  }
  50% {
    text-shadow: 1px 1px 10px rgb(199, 137, 4);
    color: rgb(250, 207, 126);
  }
  100% {
    text-shadow: 1px 1px 10px red;
  }
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col .h1-img {
  width: 4vw;
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col img {
  width: 25vw;
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col a {
  font-family: "blotter";
  text-decoration: none;
  color: red;
  font-size: 30px;
  text-shadow: 0px 1px 1px rgb(255, 145, 0);
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col a:hover {
  text-shadow: 1px 1px 10px rgb(255, 217, 0);
}
.main_pre-index .pre-index_container .pre-index_row .pre-index_col .copyright {
  padding-top: 3vh;
  font-size: 13px;
}

@font-face {
  font-family: "romance";
  src: url(../fonts/RomanceA.ttf);
}
@font-face {
  font-family: "blotter";
  src: url(../fonts/Blotter-Regular.otf);
}
@font-face {
  font-family: "funia";
  src: url(../fonts/Funia.ttf);
}
@font-face {
  font-family: "bubb";
  src: url(../fonts/BUBBCB_.TTF);
}
@font-face {
  font-family: "blaccs";
  src: url(../fonts/BLACCS__.TTF);
}
@font-face {
  font-family: "caos";
  src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}
* {
  margin: 0;
  padding: 0;
}

.index {
  margin: 0;
}
.index .banner-col {
  padding: 0;
}
.index .banner-col img {
  width: 100%;
  height: 25vh;
  border-bottom: 1px solid black;
}
.index .index_nav-bar .index_nav-bar_col {
  height: 5vh;
  padding: 0;
}
.index .index_nav-bar .index_nav-bar_col nav ul {
  display: flex;
  padding: 0;
}
.index .index_nav-bar .index_nav-bar_col nav ul li {
  width: 100%;
  flex-direction: row;
  text-align: center;
  list-style: none;
}
.index .index_nav-bar .index_nav-bar_col nav ul li a {
  height: 40px;
  font-family: "romance";
  padding-top: 3px;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  width: 100%;
  font-size: 20px;
  display: block;
  justify-content: center;
  background-color: rgb(14, 44, 58);
}
.index .index_nav-bar .index_nav-bar_col nav ul li a:hover {
  background-color: black;
  color: red;
}
.index .index_advertisement .index_advertisement-col {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 6vh;
  text-align: center;
  background-color: rgb(67, 111, 133);
}
.index .index_advertisement .index_advertisement-col a {
  font-size: 18px;
  font-family: "blotter";
  color: white;
}
.index .index_advertisement .index_advertisement-col img {
  width: 30px;
}
.index .index_nav-bar2 .index_nav-bar2-col {
  display: flex;
  background-color: black;
  height: 10vh;
}
.index .index_nav-bar2 .index_nav-bar2-col .inicio_nav-bar2 {
  width: 25%;
}
.index .index_nav-bar2 .index_nav-bar2-col .inicio_nav-bar2 p {
  font-size: 16px;
  color: rgb(39, 86, 109);
}
.index .index_nav-bar2 .index_nav-bar2-col .inicio_nav-bar2 a {
  color: rgb(39, 86, 109);
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 {
  width: 60%;
  background-color: rgb(0, 0, 0);
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul {
  padding: 0;
  display: flex;
  gap: 35px;
  justify-content: center;
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul li {
  list-style: none;
  display: flex;
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul li img {
  margin-top: 20px;
  height: 40px;
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul li a {
  font-family: "funia";
  width: 100%;
  padding: 0px;
  padding-top: 2.5vh;
  display: block;
  color: white;
  font-size: 35px;
  text-shadow: 4px 1px 10px rgb(143, 7, 7);
}
.index .index_nav-bar2 .index_nav-bar2-col .nav_nav-bar2 ul li a:hover {
  color: rgb(153, 4, 4);
}
.index .index_nav-bar2 .index_nav-bar2-col .img_nav-bar2 {
  display: flex;
  justify-content: center;
  width: 20%;
}
.index .index_nav-bar2 .index_nav-bar2-col .img_nav-bar2 img {
  padding: 5px;
  height: 10vh;
}
.index .index_main {
  background-color: rgb(67, 111, 133);
  border-top: 1px solid white;
  height: 105vh;
}
.index .index_main .categorias-col {
  padding: 0;
  width: 25%;
  background-color: black;
  height: 80vh;
}
.index .index_main .categorias-col .categorias-buscador {
  padding-left: 10px;
  height: 10.5vh;
  background-color: rgb(14, 44, 58);
}
.index .index_main .categorias-col .categorias-buscador p {
  margin-bottom: 2px;
  color: white;
  font-size: 14px;
}
.index .index_main .categorias-col .categorias-buscador .buscador-input {
  display: flex;
  align-items: center;
  gap: 4px;
}
.index .index_main .categorias-col .categorias-buscador .buscador-input input {
  width: 17vw;
  padding-bottom: 4px;
  padding-left: 3px;
  height: 6vh;
}
.index .index_main .categorias-col .categorias-buscador .buscador-input button {
  width: 2.7vw;
}
.index .index_main .categorias-col .categorias-nav {
  background-color: rgb(67, 111, 133);
  height: 100%;
}
.index .index_main .categorias-col .categorias-nav nav ul {
  padding-left: 2.5vw;
}
.index .index_main .categorias-col .categorias-nav nav ul li {
  list-style: square;
  font-size: 20px;
  color: rgb(101, 150, 144);
  font-weight: bold;
  height: 5vh;
  transition: transform 0.3s;
}
.index .index_main .categorias-col .categorias-nav nav ul li .categorias-nav-active {
  color: rgb(172, 5, 5);
  font-size: 25px;
}
.index .index_main .categorias-col .categorias-nav nav ul li .categorias-nav-active:hover {
  font-size: 28px;
}
.index .index_main .categorias-col .categorias-nav nav ul li a {
  text-shadow: 1px 1px 5px black;
  font-family: sans-serif;
  text-decoration: underline;
  color: white;
}
.index .index_main .categorias-col .categorias-nav nav ul li a:hover {
  color: rgb(105, 3, 3);
  font-size: 23px;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}
.index .index_main .categorias-col .categorias-nav nav ul li:hover {
  transform: scale(1.2) translate(30px);
}
.index .index_main .index_trend {
  padding: 0;
  width: 55%;
  height: 94%;
  box-shadow: 1px 1px 20px 7px black;
  background-color: rgb(14, 44, 58);
}
.index .index_main .index_trend .trend-banner img {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: 10.6vh;
}
.index .index_main .index_trend .trend-products {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px;
  gap: 10px;
}
.index .index_main .index_trend .trend-products .trend-product-info {
  flex-direction: column;
  width: 23.9%;
  height: 44vh;
  background-color: black;
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  box-shadow: 1px 1px 4px red;
  transition: transform 0.5s;
}
.index .index_main .index_trend .trend-products .trend-product-info img {
  margin-top: 6px;
  width: 12vw;
  border: 1px solid red;
}
.index .index_main .index_trend .trend-products .trend-product-info a {
  padding-left: 4px;
  font-size: 16px;
}
.index .index_main .index_trend .trend-products .trend-product-info p {
  padding-left: 4px;
  font-size: 16px;
  margin: 0;
  color: white;
}
.index .index_main .index_trend .trend-products .trend-product-info:hover {
  box-shadow: 1px 1px 10px 2px rgb(241, 108, 0);
  transform: scale(1.1);
}
.index .index_main .index_aside {
  padding-top: 20px;
  justify-content: center;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  height: 94.8vh;
}
.index .index_main .index_aside img {
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  width: 8.5vw;
  border: 1px solid white;
  height: 20%;
}
.index .index_footer {
  border-top: 1px solid white;
  background-color: black;
}
.index .index_footer .footer-col {
  display: flex;
  gap: 45vw;
}
.index .index_footer .footer-col .footer-text-left a {
  text-decoration: none;
  color: rgb(60, 140, 177);
}
.index .index_footer .footer-col .footer-text-right a {
  text-decoration: none;
  color: rgb(26, 63, 80);
}
.index .index_footer .footer-img {
  padding: 0;
}
.index .index_footer .footer-img img {
  width: 100%;
  height: 15vh;
}
.index .index_footer .footer-copyright {
  height: 4vh;
  color: rgb(36, 68, 90);
  text-align: center;
}/*# sourceMappingURL=main.css.map */