@font-face {
    font-family: "romance";
    src: url(../fonts/RomanceA.ttf);
};
@font-face {
    font-family: "blotter";
    src: url(../fonts/Blotter-Regular.otf);
}
@font-face {
    font-family: "funia";
    src: url(../fonts/Funia.ttf);
}
@font-face {
    font-family: "bubb";
    src: url(../fonts/BUBBCB_.TTF);
}
@font-face {
    font-family: 'blaccs';
    src: url(../fonts/BLACCS__.TTF);
}
@font-face {
    font-family: 'caos';
    src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}
@font-face {
    font-family: 'korn';
    src: url(../fonts/KORN.TTF);
}
@font-face {
    font-family: 'london';
    src: url(../fonts/OldLondon.ttf);
}
@font-face {
    font-family: 'deutsche';
    src: url(../fonts/DeutscheZierschrift.ttf);
}
@font-face {
    font-family: 'evanescence';
    src: url(../fonts/evanescent.ttf);
}