@import '../fonts';

.main_registrarse {

    background-color: black;

    .registrarse_container {
        .registrarse_row {
            padding: 0px 20vw;

            .registrarse_col {
                border-left: 1px solid red;
                border-right: 1px solid red;
                height: 100vh;
                padding: 0;
                background-color: rgb(0, 0, 0);

                .registrarse-banner {
                    width: 100%;
                    display: flex;
                  justify-content: start;
                    color: red;
                    border-bottom: 1px solid red;
img {
    box-shadow: 1px -1px 5px red;
    margin-left:px;
    width: 40vh;
}

}
                    h2 {
                        font-size: 50px;

                    }
                }

                .registrarse-left {
                    width: 10vw;
                    height: 60vh;
                    margin: 10px;
                    border-radius: 20px;
                    padding: 10px 0px;
                    background-color: rgb(0, 0, 0);
                   text-align: center;

                    .left-banner {
                        background-color: rgb(0, 0, 0);
                       border: 1px solid red;
                        border-radius: 5px;
                        margin-bottom: 10px;
                        height: 4.3vh;
background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/pattern%20468.gif);
                        img {
                            height: 5 vh;
                          
                            border-radius: 5px;

                        }

                        p {
                        
                            height: 4.3vh;
                            border-radius: 5px;
                            padding-right: 5px;
                            font-family: 'deutsche';
                            
                            width: 80%;
                            font-size: 20px;
                            color: rgb(243, 243, 243);
                           
                            text-shadow: 1px 1px 3px rgb(255, 0, 0);

                        }
                    }

                    .left-botones {
                   margin-top: 10px;
                   text-align: center;
                        img {
                            width: 2vw;
                        }

                        a {

                            font-size: 17px;
                            font-family: 'london';
                            color: rgb(255, 255, 255);
                            text-shadow: 1px 1px 2px rgb(0, 0, 0);
                            border: 1px solid rgb(0, 0, 0);
                            border-radius: 10px;
                            margin: 0;
                            width: 10.5vw;
                            height: 3.5vh;
text-decoration: none;
                            background-image: url(https://bettysgraphics.neocities.org/images/web%20graphics/button%2043.gif);
                            background-size: 100%;
                            padding:0px 10px;
                            box-shadow: 0px 1px 5px red;
                            background-repeat: no-repeat;
                        }
                        a:hover {
                            color: red;
                        }
                        a:active {
                            font-size: 19px;
                        }
                    }
                }

                .registrarse-right {
                    width: 34.8vw;
                    height: 85vh;
                    margin: 10px;
                    background-color: rgb(0, 0, 0);
                    border: 1px solid red;
box-shadow: 1px 1px 10px rgb(131, 1, 1); 

                    .right-titulo {
                        font-size: 30px;
                        text-align: center;
                        padding-top: 20px;
                        color: orange;
font-family: 'deutsche';
margin-bottom: 0;
text-shadow: 1px 1px 3px red;
                    }
.right-img {
    width: 3vw;
}
                    img {
                        width: 13vw;

                    }

                    .input {

                        margin: 0px 70px;
                        padding: 0px 30px;
                        border-left: 1px solid rgb(255, 136, 0);
                        border-right: 1px solid rgb(255, 136, 0);

                        .input-form {

                            label {
                                color: red;
                                padding-left: 10px;
                                margin-bottom: 0px;
                                padding-top: 10px;
                            }

                            input {
                                border: 1px solid red;
                                height: 4vh;
                                padding: 5px;
                                box-shadow: 0px 1px 5px red;
                            }
                        }
                        button {
                            margin-top: 20px;
                            border: 1px solid red;
                            background-color: black;
                            padding: 5px;
                            color: red;
                            text-decoration: underline;
                        }
                        button:hover {
                            background-color: red;
                            color: black;
                        }
                        button:active {
                            background-color: white;
                            color: red;
                        }
                    }
                }
            }
        }
    }
