@import '../fonts';

.main_registrarse {

    background-color: black;

    .registrarse_container {
        .registrarse_row {
            padding: 0px 20vw;

            .registrarse_col {
                border-left: 1px solid red;
                border-right: 1px solid red;
                height: 100vh;
                padding: 0;
                background-color: rgb(0, 0, 0);

                .registrarse-banner {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    color: red;
                    border-bottom: 1px solid red;

                    h2 {
                        font-size: 50px;
                    }
                }

                .registrarse-left {
                    width: 10vw;
                    height: 60vh;
                    margin: 10px;
                    border-radius: 20px;
                    padding: 10px 0px;
                    background-color: red;
                    text-align: center;
                    a{
                        
                        font-size: 14px;
                        font-family: 'blotter';
                        color: black;
                        text-shadow: 1px 1px 2px rgb(255, 0, 0);
                        border: 1px solid rgb(0, 0, 0);
                        border-radius: 5px;
                        padding: 5px 30px;
                        background-image: url(https://bettysgraphics.neocities.org/images/web%20graphics/BAN020.GIF);
                   background-size: 100%;
                   background-position: 60%;
                   background-repeat: no-repeat;
                    }
                }

                .registrarse-right {
                    width: 34.8vw;
                    height: 85vh;
                    margin: 10px;
                    background-color: rgb(0, 0, 0);
                    border: 1px solid red;

                    .right-titulo {
                        font-size: 20px;
                        text-align: center;
                        padding-top: 20px;
                        color: orange;
                        
                    }
                    img {
                        width: 13vw;
                        
                    }
                    .input {
                        
                       margin: 0px 70px;
                       padding: 0px 30px;
                       border-left: 1px solid rgb(255, 136, 0);
                       border-right: 1px solid rgb(255, 136, 0);
                   
                      .input-form {

                          label {
                  color: red;
                  padding-left: 10px;
                margin-bottom: 0px;
                padding-top: 10px;
                          }
                          input {
                              border: 1px solid red;
                              height: 4vh;
                              padding: 5px;
                              box-shadow: 0px 1px 5px red;
                          }
                      }
                    }
                }
            }
        }
    }
}